@import "bootstrap-custom";

@import 'nprogress';
@import 'nprogress-bootstrap';

$basic-font-color: #444;

div, span, td, th, p, h1, h2, h3, h4{
  color: $basic-font-color;
}

*{
  box-sizing: border-box;
  -webkit-touch-callout:none;
}

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  // overflow-x: hidden;
}

.wrapper{
  width: 100%;
  text-align: center;
  .bg{
    width: 100%;
  }
  .entry-area{
    position: relative;
    width: 100%;
    .ebtn{
      position: absolute;
      left: 0;
      bottom: 0;
      width: 50%;
      padding-bottom: 50%;
      img{
        position: absolute;
        z-index: 50;
        top: 28%;
        width: 100%;
        height: 33%;
        &:active{
          opacity: 0.8;
        }
      }
    }
  }
  p{
    position: absolute;
    top: 200px;
    color: white;
    z-index: 20;
  }
}

a{
  color: #dd0044;
  text-decoration: none;
  &:hover{
    text-decoration: none;
    color: #aa4488;
  }
  &.link-disabled{
    pointer-events: none;
  }
}

p, ul, li{
  margin: 0;
  padding: 0;
}
li{
  list-style-type: none;
}

textarea{
  resize: none;
  min-height: 100px;
}

.form-error{
  width: 100%;
  padding: 0 20px;
  h2{
    font-size: 18px;
    color: #f44;
  }
}

.break{
  word-break: break-all;
}
.bold{
  font-weight: 600;
}

.clear{
  clear:both;
}

.mt10{
  margin-top: 10px;
}

.mt20{
  margin-top: 20px;
}

.pl10{
  padding-left: 10px;
}

.center{
  text-align: center;
}

@media screen and (max-width: 640px)  {
  .container{
    .entry-area{
      width: 200px;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 150%;
      .entry-btn{
        font-size: 14px;
        height: 40px;
        line-height: 40px;
      }
    }
  }
}