@import "bootstrap-custom";

@import 'nprogress';
@import 'nprogress-bootstrap';

$basic-font-color: #444;

div, span, td, th, p, h1, h2, h3, h4{
  color: $basic-font-color;
}

*{
  box-sizing: border-box;
  -webkit-touch-callout:none;
}

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  // overflow-x: hidden;
  background-color: black;
}

.wrapper{
  width: 100%;
  padding-top: 48.6%;
  text-align: center;
  .img-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
  }
  .img-text{
    position: absolute;
    top: 30px;
    left: 15%;
    height: 70%;
  }
  .img-icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    z-index: 3;
  }
  .img-hand{
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    z-index: 5;
  }
}
.container{
  position: absolute;
  z-index: 10;
  top: 0;
  width: 100%;
  padding-top: 48.6%;
  .entry-area{
    position: absolute;
    width: 240px;
    right: 20%;
    bottom: 50px;
    .entry-btn{
      position: absolute;
      display: inline-block;
      width: 100%;
      text-align: center;
      height: 44px;
      line-height: 44px;
      color: #d6dde2;
      background-color: rgba(#10b6c1,0.8);
      border: 1px solid #7f7;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 600;
      z-index: 10;
    }
  }
}

a{
  color: #dd0044;
  text-decoration: none;
  &:hover{
    text-decoration: none;
    color: #aa4488;
  }
  &.link-disabled{
    pointer-events: none;
  }
}

p, ul, li{
  margin: 0;
  padding: 0;
}
li{
  list-style-type: none;
}

textarea{
  resize: none;
  min-height: 100px;
}

.form-error{
  width: 100%;
  padding: 0 20px;
  h2{
    font-size: 18px;
    color: #f44;
  }
}

.break{
  word-break: break-all;
}
.bold{
  font-weight: 600;
}

.clear{
  clear:both;
}

.mt10{
  margin-top: 10px;
}

.mt20{
  margin-top: 20px;
}

.pl10{
  padding-left: 10px;
}

.center{
  text-align: center;
}

@media screen and (max-width: 640px)  {
  .container{
    .entry-area{
      width: 200px;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 150%;
      .entry-btn{
        font-size: 14px;
        height: 40px;
        line-height: 40px;
      }
    }
  }
}